<template>
  <q-page class="relative-position">
    <q-scroll-area class="absolute full-width full-height">
      <div class="q-py-lg q-px-md row items-end q-col-gutter-md">
        <div class="col">
          <q-input
            v-model="newQweetContent"
            class="new-qweet"
            bottom-slots
            placeholder="What's happening?"
            counter
            maxlength="280"
            autogrow
          >
            <template v-slot:before>
              <q-avatar size="xl">
                <img src="https://cdn.quasar.dev/img/avatar5.jpg" />
              </q-avatar>
            </template>
          </q-input>
        </div>
        <div class="col col-shrink">
          <q-btn
            @click="addNewQweet"
            :disable="!newQweetContent"
            class="q-mb-lg"
            unelevated
            rounded
            color="primary"
            label="Qweet"
            no-caps
          />
        </div>
      </div>
      <q-separator class="devider" size="10px" color="grey-2" />
      <q-list separator>
        <transition-group
          appear
          enter-active-class="animated fadeIn slow"
          leave-active-class="animated fadeOut slow"
        >
          <q-item v-for="qweet in qweets" :key="qweet.id" class="qweet q-py-md">
            <q-item-section avatar top>
              <q-avatar size="xl">
                <img src="https://cdn.quasar.dev/img/avatar5.jpg" />
              </q-avatar>
            </q-item-section>

            <q-item-section>
              <q-item-label class="text-subtitle1">
                <strong>Leyla Doe</strong>
                <span class="text-grey-7">
                  @leyla__doe
                  <br class="lt-md" />
                  &bull; {{ relativeDate(qweet.date) }}
                </span>
              </q-item-label>
              <q-item-label class="qweet-content text-body1"
                >{{ qweet.content }}
              </q-item-label>
              <div class="qweet-icons row justify-between q-mt-sm">
                <q-btn
                  flat
                  round
                  color="grey"
                  icon="far fa-comment"
                  size="sm"
                />
                <q-btn
                  flat
                  round
                  color="grey"
                  icon="fas fa-retweet"
                  size="sm"
                />
                <q-btn
                  @click="editQweet(qweet)"
                  flat
                  round
                  :color="qweet.liked ? 'pink' : 'grey'"
                  :icon="qweet.liked ? 'fas fa-heart' : 'far fa-heart'"
                  size="sm"
                />
                <q-btn
                  @click="deleteQweet(qweet)"
                  flat
                  round
                  color="grey"
                  icon="fas fa-trash"
                  size="sm"
                />
              </div>
            </q-item-section>
          </q-item>
        </transition-group>
      </q-list>
    </q-scroll-area>
  </q-page>
</template>

<script>
import { defineComponent } from "vue";
import { formatDistance } from "date-fns";
import { dataBase } from "src/boot/firebase";
import {
  collection,
  onSnapshot,
  addDoc,
  orderBy,
  query,
  doc,
  updateDoc,
  deleteDoc,
} from "firebase/firestore";
export default defineComponent({
  name: "PageHome",
  data() {
    return {
      newQweetContent: "",
      qweets: [
        // {
        //   id: "ID1",
        //   content:
        //     "Lorem ipsum, dolor sit amet consectetur adipisicing elit, Cumque quibusdam iure adipisci laborum sunt assumenda esse ipsam, Accusantium laborum dolorem nihil totam atque, esse minus excepturi repudiandae, quaerat non possimus. Accusantium laborum dolorem nihil totam atque, esse minus excepturi repudiandae, quaerat non possimus.",
        //   date: 1646226973260,
        //   liked: false,
        // },
        // {
        //   id: "ID2",
        //   content:
        //     "Lorem ipsum, dolor sit amet consectetur adipisicing elit, Cumque quibusdam iure adipisci laborum sunt assumenda esse ipsam, Accusantium laborum dolorem nihil totam atque, esse minus excepturi repudiandae, quaerat non possimus. Accusantium laborum dolorem nihil totam atque, esse minus excepturi repudiandae, quaerat non possimus.",
        //   date: 1646227046669,
        //   liked: true,
        // },
      ],
    };
  },
  methods: {
    relativeDate(value) {
      return formatDistance(value, new Date());
    },
    addNewQweet() {
      let newQweet = {
        content: this.newQweetContent,
        date: Date.now(),
        liked: false,
      };
      addDoc(collection(dataBase, "qweets"), newQweet);
      // this.qweets.unshift(newQweet);
      this.newQweetContent = "";
    },
    deleteQweet(qweet) {
      let dateToDelete = qweet.id;
      // let index = this.qweets.findIndex((qweet) => qweet.date === dateToDelete);
      const docRef = doc(dataBase, "qweets", dateToDelete);
      deleteDoc(docRef);
      // console.log("index", index);
      // this.qweets.splice(index, 1);
    },
    editQweet(qweet) {
      let edit = qweet.id;
      //     const editTenant = (id, payload) => {
      let ref = doc(dataBase, "qweets", edit);
      updateDoc(ref, {
        liked: !qweet.liked,
      });
    },
  },
  mounted() {
    const unsubscribe = onSnapshot(
      collection(dataBase, "qweets"),
      (snapshot) => {
        this.qweets = snapshot.docs.map((doc) => ({
          ...doc.data(),
          id: doc.id,
        }));
      }
    );
    return () => unsubscribe();
  },
});
</script>

<style lang="sass">
.new-qweet
  textarea
    font-size: 19px
    line-height: 1.4 !important

.devider
  border-top: 1px solid
  border-bottom: 1px solid
  border-color: $grey-4
.qweet:not(:first-child)
  border-top: 1px solid rgba(0, 0, 0, 0.12)
.qweet-content
  white-space: pre-line

.qweet-icons
  margin-left: -7px
</style>
