<template>
  <q-page class="q-pa-lg">
    <h4 class="q-mt-none q-mb-md text-weight-bold">About Qwitter</h4>
    <div class="text-body1">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus vero
        aut rem aperiam id ex laudantium placeat quis, repellat ipsum nihil,
        eius facilis atque vitae quidem. Sed, distinctio iusto. Doloribus?
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus vero
        aut rem aperiam id ex laudantium placeat quis, repellat ipsum nihil,
        eius facilis atque vitae quidem. Sed, distinctio iusto. Doloribus?
      </p>
    </div>
  </q-page>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  name: "PageAbout",
});
</script>
